<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>description</th>
      <th>link</th>
      <th>pubDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>בניין מגורים בירושלים פונה בשל סדקים: "קיימת סכנה" | צפו בתמונות</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rylwu1cef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/SJXgI194F/SJXgI194F_0_103_961_541_0_medium.jpg' alt='סדקים בקירות בבניין בירושלים, חשש לקריסה' title='סדקים בקירות בבניין בירושלים, חשש לקריסה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;פגמים משמעותיים התגלו בבניין ברחוב בן יפונה בעיר. כוחות המשטרה והכיבוי הגיעו למקום ופינו ארבע דירות בבניין וכן דיירים מהמבנה הסמוך. "קיימת סכנה בשלב זה", נמסר מהמשטרה]</td>
      <td>https://www.ynet.co.il/news/article/rylwu1cef</td>
      <td>Tue, 05 Oct 2021 18:18:57 +0300</td>
    </tr>
    <tr>
      <th>1</th>
      <td>הולך רגל בן 24 נהרג מפגיעת רכב בטירת כרמל</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bjgidkqek'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/HJoN8RKVF/HJoN8RKVF_0_144_960_540_0_medium.jpg' alt='זירת התאונה בטירת הכרמל' title='זירת התאונה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הצעיר, תושב חדרה, נפגע מרכב בכניסה הצפונית לטירת כרמל. הוא פונה במצב אנוש לבית החולים רמב"ם בחיפה, שם נקבע מותו. בוחני תנועה פתחו בחקירה]</td>
      <td>https://www.ynet.co.il/news/article/bjgidkqek</td>
      <td>Tue, 05 Oct 2021 18:14:49 +0300</td>
    </tr>
    <tr>
      <th>2</th>
      <td>שיא מתים ברוסיה, הציבור לא מתחסן: "המספרים רעים מאוד"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bklxhj94t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/09/rk111006NXu/rk111006NXu_0_0_640_360_0_medium.jpg' alt='נשיא רוסיה ולדימיר פוטין חיסון ספוטניק ל קורונה' title='נשיא רוסיה ולדימיר פוטין חיסון ספוטניק ל קורונה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מספר המתים מקורונה ברוסיה ממשיך לשבור שיאים, והרשויות שוקלות להטיל הגבלות קשות. רק 29% מאזרחי המדינה מחוסנים בשתי המנות. דובר הקרמלין: "בהחלט יש סיבה לדאגה. מי שלא מתחסן חולה קשה - ולמרבה הצער מת"]</td>
      <td>https://www.ynet.co.il/news/article/bklxhj94t</td>
      <td>Tue, 05 Oct 2021 18:00:56 +0300</td>
    </tr>
    <tr>
      <th>3</th>
      <td>לקראת סיכום: התחנה המרכזית בתל אביב תפונה עד 2023</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1jgvpfet'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/07/15/9364691/9364691_0_86_1280_721_0_medium.jpg' alt='רויטרס פרויקט צילומים התחנה המרכזית החדשה תל אביב' title='רויטרס פרויקט צילומים התחנה המרכזית החדשה תל אביב' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בפגישה מכרעת בין נציגי משרד התחבורה ורשות מקרקעי ישראל הוסכם עקרונית על פינוי כמעט כל תחבורת האוטובוסים מהמבנה המהווה מפגע עירוני וסביבתי. באופן זמני תופנה התחבורה למתחמי פנורמה והלוחמים. התושבים שומרים על אופטימיות זהירה: "כל יום שהתחנה פתוחה זה עוול. נעקוב אחרי ההתפתחויות"]</td>
      <td>https://www.ynet.co.il/news/article/r1jgvpfet</td>
      <td>Tue, 05 Oct 2021 17:41:27 +0300</td>
    </tr>
    <tr>
      <th>4</th>
      <td>השר לשעבר יוסף פריצקי הלך לעולמו בגיל 66</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bk6zark4k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/Hy6gJk54t/Hy6gJk54t_0_227_3000_1689_0_medium.jpg' alt='יוסף פריצקי' title='יוסף פריצקי' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;פריצקי, שכיהן כשר התשתיות מטעם מפלגת שינוי, פוטר מהממשלה ביולי 2004 בעקבות קלטת שבה שוחח עם חוקר פרטי על המאבק הפוליטי בינו לבין איש המפלגה אברהם פורז. הוא כיהן בעברו גם כיו"ר עמותת "עם חופשי" והוביל שורת מאבקים נגד כפייה דתית]</td>
      <td>https://www.ynet.co.il/news/article/bk6zark4k</td>
      <td>Tue, 05 Oct 2021 17:22:33 +0300</td>
    </tr>
    <tr>
      <th>5</th>
      <td>אל-ערבייה: "המוסד אסף דגימות DNA מגופה שנקברה בלבנון כדי לבדוק אם היא של רון ארד"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bybkp0ynt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/12/11/9650473/9650473_95_158_810_456_0_medium.jpg' alt='תמונת רון ארד' title='תמונת רון ארד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;לפי הדיווח ברשת הטלוויזיה המשדרת מדובאי, מבצע המוסד לאיתור מודיעין על הנווט שנפל בשבי לפני 35 שנה התרחש על אדמת לבנון וסוריה. גורמים מסרו לרשת כי הדגימות נלקחו מגופה בכפר נבי-שית, שבעבר נטען כי שם הוחזק ארד על ידי מוסטפא דיראני ואנשיו]</td>
      <td>https://www.ynet.co.il/news/article/bybkp0ynt</td>
      <td>Tue, 05 Oct 2021 16:46:20 +0300</td>
    </tr>
    <tr>
      <th>6</th>
      <td>הרמטכ"ל: "נמשיך בהשמדת יכולות איראניות, התוכניות נגד הגרעין מתפתחות ומשתכללות"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sj8gkaynk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rJmVBCF4Y/rJmVBCF4Y_0_0_1204_670_0_medium.jpg' alt='אביב כוכבי הרמטכ"ל בטקס החלפת מפקדי אמ"ן' title='אביב כוכבי הרמטכ"ל בטקס החלפת מפקדי אמ"ן' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בטקס החלפת ראש אמ"ן אמר הרמטכ"ל רב-אלוף אביב כוכבי שצה"ל מחויב להעמיד מענה צבאי לתוכנית הגרעין של טהרן: "התוכניות ימשיכו להתפתח ולהשתכלל, המבצעים להשמדת היכולות יימשכו". הוא הודה לאנשי האגף והצהיר: "בזכות המודיעין אנחנו יודעים לא מעט על המתחולל באיראן"]</td>
      <td>https://www.ynet.co.il/news/article/sj8gkaynk</td>
      <td>Tue, 05 Oct 2021 16:39:45 +0300</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ראשי הערים במגזר זועקים לשינוי: "הדם הערבי זול מאוד"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bkavcskey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rySC3hK4t/rySC3hK4t_0_0_850_479_0_medium.jpg' alt='ראש עיריית אום אל פחם ד"ר סמיר מחאמיד פאיז אבו סהיבאן ראש עיריית רהט עו"ד מאמון עבד אלחי, ראש עיריית טירה ' title='ראשי הערים  אום אל פחם, טירה ורהט ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;נוכח האלימות המשתוללת שהביאה כבר למאה נרצחים השנה, אמר ראש העיר טירה לאולפן ynet: "שנים אני שומע אותם סיפורים על פתרונות". ראש העיר רהט: "לא ייתכן שאנחנו כראשי רשויות נתנער מהאחריות שלנו".  ראש עיריית אום אל פחם: "הכנסת השב"כ זה ציון נכשל למשטרה. זה מצב חירום" ]</td>
      <td>https://www.ynet.co.il/news/article/bkavcskey</td>
      <td>Tue, 05 Oct 2021 16:04:28 +0300</td>
    </tr>
    <tr>
      <th>8</th>
      <td>המניע שמאחורי חשיפת המבצע לגילוי מידע על רון ארד</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hyvek3f4k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/12/11/9650473/9650473_111_133_785_442_0_medium.jpg' alt='תמונת רון ארד' title='רון ארד. ישראל רוצה לאותת שאין קשר למלחמה החשאית' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הערכה: ראש הממשלה רצה למנוע פרשנות איראנית מוטעית והתפתחות לא רצויה בעקבות מבצע המוסד ואותת שהוא בוצע ממניעים הומניטריים בלבד - וללא קשר ל"מלחמה החשאית" עם טהרן או לניסיונות פיגועי נקם שלה. פרטים נוספים על המבצע? אפשר להעריך שהאיראנים יפרסמו בקרוב את גרסתם - ואז נדע יותר. פרשנות]</td>
      <td>https://www.ynet.co.il/news/article/hyvek3f4k</td>
      <td>Tue, 05 Oct 2021 16:01:59 +0300</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3,000 פדופילים, 300,000 קורבנות: ההתעללות בכנסייה בצרפת נחשפת</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sk2mv6tnf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/HJ2T43F4K/HJ2T43F4K_1_68_3000_1689_0_medium.jpg' alt='פסל של מרים אמו של ישו ב כנסיית סנט מרטין נאנט צרפת כנסייה קתולית' title='פסל של מרים אמו של ישו ב כנסיית סנט מרטין נאנט צרפת כנסייה קתולית' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;טלטלה בכנסייה הקתולית: דו"ח ענק חושף את ההיקף העצום של הפגיעה המינית מצד כמרים בצרפת לאורך 70 השנים האחרונות – ואת האופן שבו הושתקו פשעיהם: "חשפו ילדים לטורפי מין". בישוף בכיר התנצל, הקורבנות תקפו: "בושה לאנושות, זה היה גיהינום". האפיפיור: "עלינו לצעוד בדרך לכפרה"]</td>
      <td>https://www.ynet.co.il/news/article/sk2mv6tnf</td>
      <td>Tue, 05 Oct 2021 15:57:59 +0300</td>
    </tr>
    <tr>
      <th>10</th>
      <td>החשוד ברצח ליטל יעל שמר על זכות השתיקה, שופט דחה בקשתו להשתחרר</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hkpuwqfnf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/SyWyMxsFNt/SyWyMxsFNt_0_138_797_449_0_medium.jpg' alt='החשוד ברצח ליטל יעל מלניק' title='החשוד ברצח ליטל יעל מלניק' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;האח בן ה-49 מבית החולים הפסיכיאטרי בטירת כרמל ביקש להשתחרר ממעצר, עורך דינו: "החשש הוא שהלחץ ישפיע עליו להודות במה שלא עשה". נציג המשטרה: "רצח מצמרר, אני לא קונה ולו לרגע את גרסת החשוד" ]</td>
      <td>https://www.ynet.co.il/news/article/hkpuwqfnf</td>
      <td>Tue, 05 Oct 2021 15:05:13 +0300</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ראש המועצה הדהים: "המסמך הראשון על ליקויים במירון היה רק אחרי האסון"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/skuq2if4t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rkYhuhtVt/rkYhuhtVt_0_0_850_479_0_medium.jpg' alt='עמית סופר בועדת החקירה לאסון מירון' title='עמית סופר בועדת החקירה לאסון מירון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ראש המועצה האזורית מרום הגליל, שבתחומה נמצא קבר רשב"י, סיפר בוועדת החקירה הממלכתית לאסון מירון כי הוא לא מטפל בעבירות בנייה ורישוי עסקים במקום. "אני לא עושה שם כלום בצד המוניציפאלי", העיד – וספג ביקורת חריפה מהוועדה: "מבחינתך אפשר להוציא אותך לחופש לפני ל"ג בעומר?". נציג תולדות אהרן: "האדמו"ר רצוץ. נציית לכל החלטה - כולל על ביטול ההילולה"]</td>
      <td>https://www.ynet.co.il/news/article/skuq2if4t</td>
      <td>Tue, 05 Oct 2021 14:37:57 +0300</td>
    </tr>
    <tr>
      <th>12</th>
      <td>מטפלות במעונות יום הפגינו מול האוצר: "ליברמן, רד אלינו, אנחנו לא אויבות"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1fuxhy4t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rkHxnZ3tVY/rkHxnZ3tVY_0_0_1280_720_0_medium.jpg' alt='הפגנת המטפות מול משרד האוצר, ירושלים' title='הפגנת המטפות מול משרד האוצר, ירושלים' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ביומה השלישי של שביתת המטפלות, הדורשות שיפור בשכרן, הפגינו מאות בירושלים וקראו לשר האוצר: "לא רצינו לשבות אבל מגיעים לנו תנאים אנושיים". לטענתן: "המטפלות שלנו קורסות ולפקידי האוצר לא אכפת"]</td>
      <td>https://www.ynet.co.il/news/article/s1fuxhy4t</td>
      <td>Tue, 05 Oct 2021 14:18:10 +0300</td>
    </tr>
    <tr>
      <th>13</th>
      <td>דיווח ערבי: המוסד חטף גנרל איראני במבצע לאיתור מידע על רון ארד</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hjlujnt4k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/12/11/9650472/9650472_0_0_1920_1080_0_medium.jpg' alt='רון ארד' title='רון ארד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;האתר "א-ראי אל-יום" דיווח שהמוסד חטף את הגנרל משטח סוריה וחקר אותו באחת ממדינות אפריקה - ובסיום שוחרר. מהימנות הדיווח אינה ברורה, ולא צוין בו גם אם מדובר בגנרל איראני מכהן או לשעבר]</td>
      <td>https://www.ynet.co.il/news/article/hjlujnt4k</td>
      <td>Tue, 05 Oct 2021 14:15:47 +0300</td>
    </tr>
    <tr>
      <th>14</th>
      <td>"העדיף למות": רופאים בארה"ב מתוסכלים מהחולים הלא-מחוסנים</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sjtlbikek'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rJSVSsFEF/rJSVSsFEF_0_0_850_479_0_medium.jpg' alt='ד"ר ויסנט שו רופא ארה"ב מ לואיזיאנה טיפול בחולי קורונה בית חולים ב קליפורניה ארה"ב' title='ד"ר ויסנט שו רופא ארה"ב מ לואיזיאנה טיפול בחולי קורונה בית חולים ב קליפורניה ארה"ב' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;70 מיליון אמריקנים לא התחסנו, ומהווים את הרוב הגדול מבין החולים והמתים. 6 רופאים סיפרו ל-AP על הניסיון המתיש להפריך טענות הזויות, כמו "שבב בחיסון שנועד להשתלט על ה-DNA". יש מטופלים שאיימו לתבוע אם לא יקבלו תרופות מסוכנות, אחרים התעקשו: "אתה טועה ד"ר, אני בריא". הרוב פשוט מעדיפים לחכות, ולחלק זה כבר מאוחר מדי: "המונשמים לא צריכים עוד שכנוע"]</td>
      <td>https://www.ynet.co.il/news/article/sjtlbikek</td>
      <td>Tue, 05 Oct 2021 13:33:05 +0300</td>
    </tr>
    <tr>
      <th>15</th>
      <td>החשש לקריסה ברעננה: "הרצפה רעדה, רצתי עם גרביים החוצה בלי לקחת כלום"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1ypb5tnk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/rJ11u7Und4Y/rJ11u7Und4Y_0_85_1280_721_0_medium.jpg' alt='בניין המגורים ברעננה נהרס' title='הבניין שנהרס חלקית ברעננה ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;חלק מהבניין שפונה מדייריו נהרס באופן מבוקר, והתושבים שפונו למלון יורשו להיכנס למבנה ולקחת את חפציהם. רפי אייזנברג שגר בבניין סיפר כי חשש לאחרונה מקריסה ובתו הילה הוסיפה: "הארנב שלי חולץ הבוקר בשלום" ]</td>
      <td>https://www.ynet.co.il/news/article/s1ypb5tnk</td>
      <td>Tue, 05 Oct 2021 13:30:40 +0300</td>
    </tr>
    <tr>
      <th>16</th>
      <td>ישועה: התחקיר על אתרוג נתניהו בוואלה גילה את האמת</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s111hnkyet'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/HyWLtifO4t/HyWLtifO4t_0_51_1280_721_0_medium.jpg' alt='אילן ישועה בבית המשפט' title='מנכ"ל וואלה לשעבר ישועה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;סנגורו של בעלי בזק לשעבר שאול אלוביץ', שמואשם בתיק 4000 במתן שוחד, ניסה לאתגר את מנכ"ל וואלה לשעבר בעקבות תחקיר שבו נטען כי האתר פעל לטובת נתניהו. "בתגובות שלי לעיתון לאחר פרסום התחקיר שיקרתי", סיפר ישועה בעדותו. אחד השופטים: "אפשר לדעת מתי אדוני כותב נכון ומתי לא?"]</td>
      <td>https://www.ynet.co.il/news/article/s111hnkyet</td>
      <td>Tue, 05 Oct 2021 12:56:35 +0300</td>
    </tr>
    <tr>
      <th>17</th>
      <td>חשד: מטפלת תקפה באלימות בן 3 בזמן שהייתה שיכורה</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bkubyofey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/12/HkBUcEGlF/HkBUcEGlF_0_165_3000_1688_0_medium.jpg' alt='משטרה' title='ארכיון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;המטפלת, כבת 30 מרמת גן, נעצרה אחרי ששוטרים קיבלו דיווח על אלימות שהפעילה כלפי הילד ברחוב ז'בוטינסקי בתל אביב. על הילד נמצאו סימני אלימות]</td>
      <td>https://www.ynet.co.il/news/article/bkubyofey</td>
      <td>Tue, 05 Oct 2021 12:53:51 +0300</td>
    </tr>
    <tr>
      <th>18</th>
      <td>"דסטאו נרצח ואת אף אחד זה לא מעניין"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bjj279yef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/BJWqqQcFEF/BJWqqQcFEF_0_0_1920_1080_0_medium.jpg' alt='הפגנה בדרישה מרה"מ להורות על חקירת רצח דסארו ביסטאי במהלך מבצע שומר החומות' title='הפגנה בדרישה מרה"מ להורות על חקירת רצח דסארו ביסטאי במהלך מבצע שומר החומות' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;4 חודשים חלפו מאז מת מפצעיו דסטאו ביסט (74) ברמלה שנדרס אחרי שומר החומות, אבל עד כה האירוע לא פוענח. 250 איש מחו מול ישיבת הממשלה על אוזלת היד ודרשו לערב את שב"כ: "כשמדובר באתיופי, אפשר לגרור רגליים". המשטרה: "נמצאים בקשר עם המשפחה. נמשיך במאמץ החקירתי"]</td>
      <td>https://www.ynet.co.il/news/article/bjj279yef</td>
      <td>Tue, 05 Oct 2021 12:30:24 +0300</td>
    </tr>
    <tr>
      <th>19</th>
      <td>לפרק את פייסבוק</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1fgpdkvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/12/17/BySKbKd3D/BySKbKd3D_104_20_391_220_0_medium.jpg' alt='נדב איל אייל' title='נדב איל אייל' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;האם יש תאגיד בהיסטוריה שאחראי להפצה יותר המונית של כזבים? העובדות הנחשפות מחייבות פירוק המונופול, פיצול החברות השונות וניטור התוכן]</td>
      <td>https://www.ynet.co.il/news/article/r1fgpdkvk</td>
      <td>Tue, 05 Oct 2021 12:00:32 +0300</td>
    </tr>
    <tr>
      <th>20</th>
      <td>ישראל בין סאדאת לא-סיסי</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hyswj00t4k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/13/Hy11yJMxpfY/Hy11yJMxpfY_0_66_3000_1689_0_medium.jpg' alt='נפתלי בנט וא סיסי בפגישה בשארם א שייח במצרים' title='נפתלי בנט וא סיסי בפגישה בשארם א שייח במצרים' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;תחת הנשיא הנוכחי נרשם במצרים יחס אוהד וחיובי למנהיג שבחר לכרות הסכם שלום עם ישראל ונרצח. אבל האם זה מקרב את הנורמליזציה? אולי, אך לא כרגע]</td>
      <td>https://www.ynet.co.il/news/article/hyswj00t4k</td>
      <td>Tue, 05 Oct 2021 12:00:20 +0300</td>
    </tr>
    <tr>
      <th>21</th>
      <td>אמסלם נגד ברקת: להגביל את סכום גיוס התרומות ל-100 אלף שקל בשנה</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hjtr7kt4t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/HJ11y8tYNF/HJ11y8tYNF_0_0_850_479_0_medium.jpg' alt='דודי אמסלם, ניר ברקת' title='ברקת ואמסלם' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בעוד ח"כ ברקת מכוון גבוה להנהגת הליכוד, מעלה מחדש חברו למפלגה את החוק שיקשה עליו להשתמש ללא הגבלה בהונו הגבוה. "חוק המפלגות מבקש למנוע קניית שלטון בכנסת", צוין בהצעת החוק החדשה של ח"כ אמסלם. גורם בסביבת ברקת: "אמסלם יורה בתוך הנגמ"ש ופוגע בחברי ליכוד"]</td>
      <td>https://www.ynet.co.il/news/article/hjtr7kt4t</td>
      <td>Tue, 05 Oct 2021 11:26:24 +0300</td>
    </tr>
    <tr>
      <th>22</th>
      <td>מבצע המידע על רון ארד: "היום אנחנו חכמים יותר משהיינו"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sk68z00kvy'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/12/11/9650516/9650516_0_25_353_199_0_medium.jpg' alt='תמונתו של רון ארד' title='רון ארד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;השר לשירותי דת מימינה טען באולפן ynet שחשיפת המבצע של המוסד נעשתה בתיאום עם הגורמים הרלוונטיים - אך האלוף במיל' יעקב עמידרור קרא: "לשמור את המוסד מאחורי גדר צניעות יותר גדולה ממה שנהוג בזמן האחרון"]</td>
      <td>https://www.ynet.co.il/news/article/sk68z00kvy</td>
      <td>Tue, 05 Oct 2021 11:23:23 +0300</td>
    </tr>
    <tr>
      <th>23</th>
      <td>איך הפכה הולנד ל"מושבת הנרקוס" של אירופה?</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/articles/0,7340,L-6010439,00.html'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/10971171/2353698_0_0_1920_1080_0_medium.jpg' alt=' ' title='צילום: Shutterstock' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הסובלנות, הפתיחות, הקדמה - כל אלה הופכים את הולנד למדינה שמאוד נעים לבקר בה, ומובן שגם לחיות בה. אלא שבשנים האחרונות מנצלים ארגוני פשע מאורגן בדיוק את היתרונות האלה והופכים את המדינה לבסיסם. נמל רוטרדם הפך לתחנת המעבר הגדולה באירופה לסמים מוברחים, קרטלים שונים נאבקים באכזריות על הבכורה, חיסולים מתבצעים לאור יום במרכזי הערים - ואפילו ראש הממשלה הפך ליעד. השאלה הגדולה: האם הולנד מסוגלת לעצור את הזרם הזה?]</td>
      <td>https://www.ynet.co.il/articles/0,7340,L-6010439,00.html</td>
      <td>Tue, 05 Oct 2021 10:42:00 +0300</td>
    </tr>
    <tr>
      <th>24</th>
      <td>טענות נגד ביה"ח של הנערה שנרצחה: "קושי ליצור קשר עם קטינים. אין פיקוח"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hygcodtvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/rkwk7qtEt/rkwk7qtEt_0_0_850_479_0_medium.jpg' alt='ליטל יעל מלניק' title='ליטל יעל מלניק' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ועדת העבודה והרווחה התכנסה לדיון ברקע רצח ליטל יעל מלניק שטופלה בביה"ח הפסיכיאטרי בטירת כרמל. בכירה במשרד הרווחה: "יש כלים מצומצמים מול נוער בסיכון". נציבת תלונות ילדים: "אין כתובת לפניות". איגוד העובדים הסוציאליים: "יעל הגיעה למערכת בגיל מאוחר בגלל עומס"]</td>
      <td>https://www.ynet.co.il/news/article/hygcodtvk</td>
      <td>Tue, 05 Oct 2021 10:27:07 +0300</td>
    </tr>
    <tr>
      <th>25</th>
      <td>מספר החולים קשה ירד ל-505; פרופ' בליצר: "הירידה בתחלואה - בדיוק ברגע הקריטי"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sjy8tvyef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/20/SJgmzCnnxK/SJgmzCnnxK_466_403_2275_1281_0_medium.jpg' alt='מחלקת קורונה בביה"ח בילינסון' title='מחלקת קורונה בביה"ח בילינסון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;נתוני התחלואה ממשיכים להשתפר - וראש קבינט המומחים הדגיש באולפן ynet כי הדבר קורה כשמערכת הבריאות בסף הספיקה של מכשירי האקמו. על ההצעה להקל בתו הירוק אמר: "לא לחזור לשגיאות שעשינו פעמיים - אבל מטבע הדברים צריך להיערך לכך. האינדיקציות הראשונות - 10 ימים מהחזרה ללימודים" ]</td>
      <td>https://www.ynet.co.il/news/article/sjy8tvyef</td>
      <td>Tue, 05 Oct 2021 09:58:38 +0300</td>
    </tr>
    <tr>
      <th>26</th>
      <td>איסלאמיסט קיצוני? "אלוף הבגטים" של פריז מסתבך</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hyjw6vt4t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/Hkv3jDtVK/Hkv3jDtVK_1_0_1200_676_0_medium.jpg' alt='מקראם אקרוט אופה באגט באגטים שזכה באליפות הבאגטים ב בירת צרפת' title='מקראם אקרוט אופה באגט באגטים שזכה באליפות הבאגטים ב בירת צרפת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מהגר מתוניסיה הביס 173 אופים אחרים בתחרות הבגט הטוב ביותר בפריז, אך כעת מתמודד עם טענות ששיתף ברשת פוסטים קיצוניים. לטקס הזכייה הוא לא הגיע, וגם את הפרס - חלוקת בגטים לארמון האליזה במשך שנה - הוא לא יקבל]</td>
      <td>https://www.ynet.co.il/news/article/hyjw6vt4t</td>
      <td>Tue, 05 Oct 2021 09:29:15 +0300</td>
    </tr>
    <tr>
      <th>27</th>
      <td>למה ערבים חולים יותר ומתחסנים פחות</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rk1bxwuvy'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/04/29/9939236/9939236_0_0_1280_720_0_medium.jpg' alt='בדיקות קורונה בחורה' title='בדיקות קורונה בחורה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;יש קשר בין פערי ההתחסנות אצל ערבים ויהודים לבין פערים אחרים במערכת הבריאות. יש גם סיבות לכך שערבים בארץ חיים פחות. ויש מה לעשות בנדון]</td>
      <td>https://www.ynet.co.il/news/article/rk1bxwuvy</td>
      <td>Tue, 05 Oct 2021 09:02:32 +0300</td>
    </tr>
    <tr>
      <th>28</th>
      <td>הרב מצפת שהורשע בעבירות מין יפצה אחת מקורבנותיו ב-470 אלף שקל: "סובלת מסיוטים"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rkiualk4k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2018/02/06/8331724/8331724_0_48_980_552_0_medium.jpg' alt='' title='נודע כצדיק, תלמיד חכם ו"מקובל". עזרא שיינברג' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;עזרא שיינברג, שהודה בפגיעה בשמונה מתלוננות, יפצה אחת מהן בכחצי מיליון שקלים. השופטת: "גרם לה לנזק נפשי, היא חוותה השפלה וניצול דווקא ממי שהיה אמור לטפל בה והיא אמינה בכוחותיו". בחודש אוגוסט נקבע שיקבל שחרור מוקדם - הפרקליטות ערערה]</td>
      <td>https://www.ynet.co.il/news/article/rkiualk4k</td>
      <td>Tue, 05 Oct 2021 08:49:05 +0300</td>
    </tr>
    <tr>
      <th>29</th>
      <td>המדינה עדיין מזניחה את הילדים שלנו | הכותרת - פודקאסט החדשות היומי</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/theheadline/article/O1KFGJ5CY'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/B1C2fvFNK/B1C2fvFNK_0_0_850_479_0_medium.jpg' alt='הכותרת תיעוד ההתעללות בגן ברמלה' title='ארכיון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;יותר משנתיים חלפו מאז שעבר החוק הנוגע לפיקוח על מסגרות החינוך לגיל הרך - אבל גם השנה, רוב המוסדות לא רשומים, ולא מפוקחים. המשמעות: אין עדיין שום סטנדרטים מחייבים שיבטיחו שהילדים נמצאים בידיים בטוחות, ובתנאים ראויים. הדר גיל-עד על המשבר המתמשך בתחום. הכותרת - פודקאסט החדשות של ynet, עם הסיפורים המרכזיים שעל סדר היום]</td>
      <td>https://www.ynet.co.il/news/theheadline/article/O1KFGJ5CY</td>
      <td>Tue, 05 Oct 2021 08:18:31 +0300</td>
    </tr>
  </tbody>
</table>