<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>description</th>
      <th>link</th>
      <th>pubDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>"צינור לבה" תת-קרקעי: ההתפרצות בלה פאלמה נמשכת</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byibyphnt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/ry11hNLDn4t/ry11hNLDn4t_0_0_3000_1688_0_medium.jpg' alt='צילום מרחפן של ענן עשן בוקע מ הר הגעש הר געש קומברה וייחה ב אי של ספרד לה פאלמה האיים הקנריים' title='עשן בוקע מהלוע המרכזית של קומברה וייחה, שלשום. גם רעידות האדמה נמשכות' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;כבר כמעט שלושה שבועות נמשכת ההתפרצות באי הקנרי, ואף שנרגעה מעט החוקרים שנשלחו לשם מזהירים: המצב עדיין לא יציב. שדה התעופה נסגר, 3 רעידות אדמה נרשמו ביממה. הלבה זורמת מתחת ללבה מוצקה, הישר לתוך הים]</td>
      <td>https://www.ynet.co.il/news/article/byibyphnt</td>
      <td>Thu, 07 Oct 2021 15:51:38 +0300</td>
    </tr>
    <tr>
      <th>1</th>
      <td>אישום: רצח את אמו בדקירות סכין ומברג</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hkabdbhny'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/19/H1EVhJ3gt/H1EVhJ3gt_0_0_850_479_0_medium.jpg' alt='החשוד ברצח אימו בשדרות: אנדרי קמינסקי' title='החשוד ברצח אימו בשדרות: אנדרי קמינסקי' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הפרקליטות מייחסת רצח בנסיבות מחמירות לאנדריי קמינסקי, שהיכה ודקר את אמו טטיאנה בבית בשדרות באוגוסט: "אכזריות מיוחדת והתעללות גופנית"]</td>
      <td>https://www.ynet.co.il/news/article/hkabdbhny</td>
      <td>Thu, 07 Oct 2021 15:47:39 +0300</td>
    </tr>
    <tr>
      <th>2</th>
      <td>קיש: "בנט מהמר על הבריאות כי אין לו גיבוי פוליטי"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/syk0ylhvt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/07/05/10077653/10077653_0_0_640_360_0_medium.jpg' alt=' ועדת קורונה ' title='יואב קיש' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;חבר הכנסת מהליכוד הפנה אצבע מאשימה לממשלה שהתמקדה רק במבצע החיסונים ולא בצעדים שמרסנים את התחלואה: "הביאו להשתוללות מוחלטת של הפנדמיה". על העיכוב בהנפקת התו הירוק לישראלים רבים: "חייבים לעבוד עם ספקי משנה"]</td>
      <td>https://www.ynet.co.il/news/article/syk0ylhvt</td>
      <td>Thu, 07 Oct 2021 15:35:27 +0300</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ח"כ לשעבר קולט אביטל טוענת: שמעון פרס הטריד אותי מינית</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1rrplhey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2016/05/01/6975203/6975203_50_0_931_524_0_medium.jpg' alt='' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;אביטל, שהייתה ח"כית מטעם מפלגת העבודה, סיפרה בריאיון שבפגישה מקצועית בין השניים ניסה רה"מ והנשיא לשעבר לנשקה בניגוד לרצונה. "הוא הצמיד אותי פתאום לדלת, רעדו לי הרגליים". לדבריה, היא סיפרה על כך בזמן אמת ליוסי ביילין, שאמר ל-ynet שהופתע מהפרסום: "לא זוכר אירוע כזה"]</td>
      <td>https://www.ynet.co.il/news/article/r1rrplhey</td>
      <td>Thu, 07 Oct 2021 14:52:15 +0300</td>
    </tr>
    <tr>
      <th>4</th>
      <td>אלפי מתמחים הודיעו על התפטרות: "יום עצוב מנשוא"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hygeyrhet'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/BJnEIUn4K/BJnEIUn4K_0_0_883_498_0_medium.jpg' alt='   ' title='הפגנת המתמחים לפני ההצהרה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;אחרי כישלון המגעים עם שר הבריאות ניצן הורוביץ בנוגע לקיצור התורנויות ולאחר חתימתה של שרת הכלכלה ברביבאי על ההיתר החדש, הודיעו המתמחים על התפטרות של יותר מ-2,500 רופאים: "היום נפל דבר במדינת ישראל. נאלצים בכאב לעשות צעד דרסטי". משרד הבריאות לא אישר להם להיכנס למבנה. בתי החולים: לא קיבלנו מכתבי התפטרות]</td>
      <td>https://www.ynet.co.il/news/article/hygeyrhet</td>
      <td>Thu, 07 Oct 2021 14:50:39 +0300</td>
    </tr>
    <tr>
      <th>5</th>
      <td>"הכול מותר, חוץ מגופות": עדויות קשות מהעינויים בכלא הרוסי</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byah4unef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/SyBMGIh4Y/SyBMGIh4Y_18_0_617_347_0_medium.jpg' alt='עינוי ו אלימות נגד אסיר אסירים ב כלא רוסי' title='עינוי ו אלימות נגד אסיר אסירים ב כלא רוסי' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הרשויות ברוסיה חוקרות סרטון שחשף אונס אכזרי בבית חולים לאסירים, אך זהו רק קצה הקרחון. עדויות מראות כיצד סוהרים פתחו ב"קמפיין נקמה" לאחר מהומה במושבת עונשין בסיביר: אסירים נתלו מהרגליים, אחרים אנסו בהוראתם את חבריהם. גם הקרמלין הביע זעזוע, אך הפעילים שחשפו את "העינוי השיטתי" בטוחים שצדק לא ייעשה: "אם היו יכולים – היו מטייחים"]</td>
      <td>https://www.ynet.co.il/news/article/byah4unef</td>
      <td>Thu, 07 Oct 2021 14:40:51 +0300</td>
    </tr>
    <tr>
      <th>6</th>
      <td>נעצר חשוד בתקיפה המינית של בת ה-8 בחיפה</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hjorfihef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/H1xcn4PnVK/H1xcn4PnVK_0_53_720_405_0_medium.jpg' alt='החשוד בתקיפת הילדה בת ה8 בחיפה' title='החשוד בתקיפת הילדה בת ה8 בחיפה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;המשטרה עצרה תושב נהריה בן 29 בחשד שביצע ביום ראשון מעשים מגונים לאור יום בילדה. הוא נחקר וטרם הוחלט אם תוגש בקשה להאריך את מעצרו]</td>
      <td>https://www.ynet.co.il/news/article/hjorfihef</td>
      <td>Thu, 07 Oct 2021 14:29:11 +0300</td>
    </tr>
    <tr>
      <th>7</th>
      <td>אבי הילדה שהותקפה מינית בנגב: "הסכמתי לחתום על הסדר טיעון כי ידעתי שאין ברירה"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/b1qntrn4f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/07/19/ByJAj5fA00/ByJAj5fA00_0_0_3000_1689_0_medium.jpg' alt=' ' title=' אילוסטרציה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בפרקליטות הדגישו אתמול כי משפחתה של הילדה נתנה את הסכמה להסדר לפיו יודה הנער בניסיון לביצוע מעשה סדום - אך האב מדגיש כי זו הייתה הדרך היחידה להרשעה. "הם אומרים שהתיק ייפול מחוסר ראיות, אז אתה חייב לפעול"]</td>
      <td>https://www.ynet.co.il/news/article/b1qntrn4f</td>
      <td>Thu, 07 Oct 2021 14:20:06 +0300</td>
    </tr>
    <tr>
      <th>8</th>
      <td>הסתיימה השביתה: מעונות היום ישובו מחר לפעילות</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byhb1182ef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/06/BJb8i11No4Y/BJb8i11No4Y_0_0_1280_721_0_medium.jpg' alt='      צעדה של מטפלים והורים בשדרות רוטשילד במחאה על התעלמותם של שר האוצר ושרת הכלכלה ממשבר המעונות' title='הפגנה על משבר המעונות' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ארגוני מעונות היום בפיקוח והמטפלות הגיעו להסכמה עם משרד האוצר על קידום מתווה העלאת שכר המטפלות בפעימה ראשונה, שייחתם בימים הקרובים, ופתיחה במו"מ קצוב בזמן על העלאת סל המחירים בהשתתפות המדינה]</td>
      <td>https://www.ynet.co.il/news/article/byhb1182ef</td>
      <td>Thu, 07 Oct 2021 13:56:31 +0300</td>
    </tr>
    <tr>
      <th>9</th>
      <td>חשד: רצח את אשתו, נמלט – וניסה להתאבד בתום מרדף משטרתי</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rjb5hz9qf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/24/BJbMy11jXY/BJbMy11jXY_0_0_850_479_0_medium.jpg' alt='רחל וגיא שפירא' title='גיא ורחל' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הותר לפרסום: שוטרים שהוזעקו בערב סוכות לבית במעלה אדומים חשבו תחילה כי רחל אייזנשטדט התאבדה, בעלה גיא הוא שדיווח על גופתה. כאשר חיפשו אותו בשנית בעקבות סימנים מחשידים שהתגלו על הגופה התברר שנמלט - והמשטרה דלקה אחריו עד לדרום הארץ. כשנלכד ירה בעצמו לעיני השוטרים ופונה במצב קשה. כשהתאושש נחקר, הודה במיוחס לו ואף שחזר את הרצח]</td>
      <td>https://www.ynet.co.il/news/article/rjb5hz9qf</td>
      <td>Thu, 07 Oct 2021 13:30:25 +0300</td>
    </tr>
    <tr>
      <th>10</th>
      <td>חזי לוי על הניסיון להקדים את ה"כיתה הירוקה": "לא לקפוץ מעל הפופיק"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byc3u4hnf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/06/23/r1bgm00Ce3u/r1bgm00Ce3u_404_277_1905_1072_0_medium.jpg' alt='חזי לוי' title='חזי לוי' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מנכ"ל משרד הבריאות לשעבר מציע להשלים במלואו את הפיילוט בבתי הספר לפני שמבטלים את הבידודים לתלמידים שנחשפו לחולי קורונה: "ראוי לעשות את הניסוי בצורה הנכונה". על המתמחים שמאיימים להתפטר: "לא עוזבים חולים"]</td>
      <td>https://www.ynet.co.il/news/article/byc3u4hnf</td>
      <td>Thu, 07 Oct 2021 13:29:16 +0300</td>
    </tr>
    <tr>
      <th>11</th>
      <td>בן 25 נהרג בנפילה מגובה באתר בנייה בטייבה</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1kmlshvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/12/Sk9FL4feF/Sk9FL4feF_0_0_3000_1689_0_medium.jpg' alt='אמבולנס' title='ארכיון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;צוות מד"א שהוזעק לזירה בטייבה ביצע בצעיר פעולות החייאה ופינה אותו לבית החולים מאיר בכפר סבא - שם נקבע מותו. כשעתיים לאחר מכן דווח על פועל בן 38 שנפצע כשעבד על מנוף באתר בנייה בקריית ביאליק. הוא סובל מכוויות בפלג גופו העליון ומצבו מוגדר קשה]</td>
      <td>https://www.ynet.co.il/news/article/r1kmlshvk</td>
      <td>Thu, 07 Oct 2021 13:16:35 +0300</td>
    </tr>
    <tr>
      <th>12</th>
      <td>"שיטת חינוך" בגן - להרביץ לילד המרביץ: כתב אישום נגד מנהלת פעוטון בבאר שבע</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bk1cd42et'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/ByxCnF4nVt/ByxCnF4nVt_0_87_606_342_0_medium.jpg' alt='רותי סאלם' title='רותי סאלם' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;לבעלת "גן רננים" רותי סאלם (61) מיוחסים 16 סעיפים של התעללות ותקיפת קטינים. בין השאר היא עודדה פעוטות, ולפעמים חייבה אותם, להכות את אלה שהרביצו להם. ביהמ"ש הוציא צו לסגירת הגן. סייעת שלה מואשמת באי-דיווח]</td>
      <td>https://www.ynet.co.il/news/article/bk1cd42et</td>
      <td>Thu, 07 Oct 2021 13:14:37 +0300</td>
    </tr>
    <tr>
      <th>13</th>
      <td>פיתתה גבר ל"מפגש רומנטי" - ושותפיה תקפו ושדדו: אישום נגד בת 20 מהצפון</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/b1iajf2nt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2018/10/04/8804474/8804474_0_0_1300_732_0_medium.jpg' alt='אילוס אישה אזיקים' title='אילוסטרציה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;תושבת סכנין נאשמת שפיתתה ברשת גבר להיפגש עמה - ובמהלך המפגש הוא הותקף על ידיה ועל ידי שני גברים נוספים שארבו לו. השלושה שדדו ממנו כסף ופריטים יקרי ערך ואיימו עליו ש"יירו בו כשיסיימו". הפרקליטות תבקש להאריך את מעצרה עד תום ההליכים: "נעדרת מורא מן החוק ומסוכנותה מוגברת"]</td>
      <td>https://www.ynet.co.il/news/article/b1iajf2nt</td>
      <td>Thu, 07 Oct 2021 12:56:04 +0300</td>
    </tr>
    <tr>
      <th>14</th>
      <td>אין אצלי 100% זכאות לבגרות ועל כך גאוותי</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/skowrnhey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/ry2j11Nh4t/ry2j11Nh4t_0_69_863_486_0_medium.jpg' alt='צוריאל רובינס מנהל מקיף אמית באר שבע' title='צוריאל רובינס מנהל מקיף אמית באר שבע' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;המשמעות של נתון כזה היא שביה"ס ממיין את התלמידים המתקבלים ומנשיר את המתקשים. מנהל אמית באר שבע חושב שאנשי חינוך אמורים לפעול אחרת]</td>
      <td>https://www.ynet.co.il/news/article/skowrnhey</td>
      <td>Thu, 07 Oct 2021 12:36:03 +0300</td>
    </tr>
    <tr>
      <th>15</th>
      <td>צפו בתחזית מזג האוויר: עלייה בטמפרטורות</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1qprcinf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/05/30/ryEA9k119O/ryEA9k119O_0_0_850_479_0_medium.jpg' alt=' ' title=' ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;היום תורגש התחממות, ומחר יהיה היום החם ביותר השבוע. למרות זאת, רוחות חזקות ינשבו בחוף. בשבת תורגש התקררות קלה]</td>
      <td>https://www.ynet.co.il/news/article/s1qprcinf</td>
      <td>Thu, 07 Oct 2021 12:29:46 +0300</td>
    </tr>
    <tr>
      <th>16</th>
      <td>הקרב על ההפלות: חוק "פעימת הלב" בטקסס הוקפא</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rjnx0fhnf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/r1pbbVhNK/r1pbbVhNK_0_309_3000_1689_0_medium.jpg' alt='מפגינות ב אוסטין בירת טקסס נגד חוק שאוסר שם הפלה הפלות מלאכותיות ארה"ב תמונת ארכיון 1 בספטמבר' title='מפגינות ב אוסטין בירת טקסס נגד חוק שאוסר שם הפלה הפלות מלאכותיות ארה"ב תמונת ארכיון 1 בספטמבר' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;שופט פדרלי הורה להקפיא זמנית את החוק המחמיר ביותר נגד הפלות בארה"ב, שאוסר לבצען מהשבוע השישי להיריון – אז רוב הנשים כלל לא מודעות אליו: "קיפוח פוגעני". הבית הלבן בירך, אך הזהיר: "המאבק רק מתחיל". טקסס תערער, השמרנים מקווים לניצחון בעליון: האם תקדים "רו נגד ווייד" בסכנה?]</td>
      <td>https://www.ynet.co.il/news/article/rjnx0fhnf</td>
      <td>Thu, 07 Oct 2021 12:06:38 +0300</td>
    </tr>
    <tr>
      <th>17</th>
      <td>פעם טסתי ליד ראש שב"כ בלי לדעת. מאז הידרדרנו</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byztnmhet'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/12/02/10400026/10400026_271_19_657_370_0_medium.jpg' alt='לימור לבנת' title='לימור לבנת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בעבר לא התפארו במבצעים חשאיים, ראשי שירותי הביון היו אלמונים ואיש לא העז אפילו ללחוש את השם "8200". היום סודות נחשפים מעל בימת הכנסת]</td>
      <td>https://www.ynet.co.il/news/article/byztnmhet</td>
      <td>Thu, 07 Oct 2021 12:03:20 +0300</td>
    </tr>
    <tr>
      <th>18</th>
      <td>הקולנוע בישראל הוא פוליטי. וזה בסדר</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hjneo7hef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/05/BJZlsWqNF/BJZlsWqNF_0_41_1280_721_0_medium.jpg' alt='ערן קולירין' title='ערן קולירין' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;עיון ברשימת זוכי פרס אופיר מוכיח שמי שמאשימים את היוצרים בכך שהם מתעניינים רק בכיבוש ובהשחרת פני המדינה - פשוט לא צופים בקולנוע ישראלי]</td>
      <td>https://www.ynet.co.il/news/article/hjneo7hef</td>
      <td>Thu, 07 Oct 2021 12:03:10 +0300</td>
    </tr>
    <tr>
      <th>19</th>
      <td>בית החולים התלונן בעבר נגד האח החשוד ברצח הנערה: "המשטרה אמרה שהכול בסדר"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/byhif72ny'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/06/BkK1TNcVF/BkK1TNcVF_0_0_850_479_0_medium.jpg' alt='המרכז לבריאות הנפש מעלה הכרמל, בו שהתה מלניק' title='המרכז לבריאות הנפש מעלה הכרמל, בו שהתה מלניק' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מ"מ מנהל "מעלה כרמל", ד"ר איל פרוכטר, הדף את הטענות נגד הנהלת המוסד בכל הנוגע לטיוח והשתקת תלונות, אך מודה: "בגדנו במטופלת שלנו, נתחקר את העניינים לעומק". על עדויות של נערות אחרות על האח: "יש מצלמות בכל השטחים הציבוריים ועובדתית אף אחד לא עלה על זה"]</td>
      <td>https://www.ynet.co.il/news/article/byhif72ny</td>
      <td>Thu, 07 Oct 2021 11:45:50 +0300</td>
    </tr>
    <tr>
      <th>20</th>
      <td>כ-90 אלף תלמידים בבידוד, כ-40% מהמאומתים אתמול בני פחות מ-11</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/h100df7het'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/12/B1LRO5qMK/B1LRO5qMK_0_58_1280_721_0_medium.jpg' alt='בדיקות קורונה לילדים' title='בדיקות קורונה לילדים' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;גם הבוקר מצביעים הנתונים על דעיכת הגל הרביעי של הקורונה בישראל. אתמול אובחנו 2,377 מאומתים, שיעור החיוביים עומד על כ-2.3% ומקדם ההדבקה על 0.78. מספר התלמידים בבידוד ממשיך לרדת ועומד על 90,539]</td>
      <td>https://www.ynet.co.il/news/article/h100df7het</td>
      <td>Thu, 07 Oct 2021 11:14:09 +0300</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ח"כ פרוש קרא תהילים וסירב להתפנות בשל הסיוע של ח"כ קריב לנשות הכותל</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bkysym2ey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/HJKG6f2Et/HJKG6f2Et_4_107_896_504_0_medium.jpg' alt='ח"כ מאיר פרוש בועדת חוק חוקה ומשפט ' title='ח"כ מאיר פורוש בועדת חוק חוקה ומשפט ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הח"כ מיהדות התורה נכנס לדיון בוועדת חוקה ומחה על השימוש שעשה היו"ר בחסינות כדי להעביר ספר תורה לנשות הכותל. הוא סירב לעזוב והתיישב על הרצפה. הדיון הופסק. ח"כ קריב: "לפחות זיכו אותנו בכמה פרקי תהילים"]</td>
      <td>https://www.ynet.co.il/news/article/bkysym2ey</td>
      <td>Thu, 07 Oct 2021 10:24:30 +0300</td>
    </tr>
    <tr>
      <th>22</th>
      <td>10 תלונות על עבירות מין נגד הרופא הבכיר: הוארך שוב מעצרו של פרופ' אריה לוין</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/ry71bghnt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/HkgIh5fhEt/HkgIh5fhEt_0_0_1280_721_0_medium.jpg' alt='אריה לוין בהארכת מעצר' title='פרופ' אריה לוין בדיון בהארכת מעצרו' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;פרופ' אריה לוין, מנהל היחידה לגסטרואנטרולוגיה ותזונת ילדים בוולפסון, חשוד בבעילת קטינה מתחת לגיל 14, בעילה שלא בהסכמה ומעשה מגונה. נציג המשטרה: "שתי קטינות ושלושה בגירות נוספות התלוננו. שתיים מהן - בגין אונס". המשטרה ביקשה להאריך את מעצרו בתשעה ימים נוספים, אך ביהמ"ש הסתפק בשישה ימים]</td>
      <td>https://www.ynet.co.il/news/article/ry71bghnt</td>
      <td>Thu, 07 Oct 2021 10:23:15 +0300</td>
    </tr>
    <tr>
      <th>23</th>
      <td>תמי ארד: לא סיכנו חיי לוחמים במבצע להשגת מידע על רון</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rklutz3vf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/S1X0fQ2Nt/S1X0fQ2Nt_0_0_850_479_0_medium.jpg' alt='רון ארד , תמי ארד' title='רון ארד , תמי ארד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;אחרי שבנט חשף מבצע של המוסד בניסיון לברר על גורלו של רון ארד, אשתו שוברת שתיקה ועונה בתקיפות בעקבות טורים ופרסומים בנושא: "ביקשנו ועודנו מבקשים שימשיכו לחפש את רון כל עוד ניתן, בלי לסכן חיים"]</td>
      <td>https://www.ynet.co.il/news/article/rklutz3vf</td>
      <td>Thu, 07 Oct 2021 10:17:06 +0300</td>
    </tr>
    <tr>
      <th>24</th>
      <td>שידור חי: משדר הבוקר מאולפן ynet</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/S1ZNe6dXw'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/30/HyGZKyXEt/HyGZKyXEt_0_0_850_479_0_medium.jpg' alt='אטילה שומפלבי אולפ' title='אטילה שומפלבי אולפ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;כל העדכונים על ההתפתחויות האחרונות, הפרשנויות, הראיונות - והכתבים מהשטח. הצטרפו למשדר הבוקר מאולפן ynet עם אטילה שומפלבי]</td>
      <td>https://www.ynet.co.il/news/article/S1ZNe6dXw</td>
      <td>Thu, 07 Oct 2021 10:12:11 +0300</td>
    </tr>
    <tr>
      <th>25</th>
      <td>תינוקת בת 4 חודשים נפצעה אנושות בתאונה בשומרון</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rybk5mh4y'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/HyXe5sM3Vt/HyXe5sM3Vt_0_0_1500_845_0_medium.jpg' alt='זירת תאונת הדרכים סמוך לחוות גלעד' title='זירת תאונת הדרכים סמוך לחוות גלעד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;שני כלי רכב התנגשו בכניסה לחוות גלעד. פרמדיקים של מד"א בסיוע כוח רפואה של צה"ל הוזעקו לזירה והעניקו לה טיפול רפואי שכלל פעולות החייאה ולאחר מכן פינו אותה לבית החולים שניידר שבפתח תקווה. בתאונה נפצע גם גבר בן 41, מצבו קל]</td>
      <td>https://www.ynet.co.il/news/article/rybk5mh4y</td>
      <td>Thu, 07 Oct 2021 10:04:18 +0300</td>
    </tr>
    <tr>
      <th>26</th>
      <td>סידני תצא מסגר של 4 חודשים: "החיסון – המפתח לחופש"</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hjzwlm34f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/06/27/S1xDX1WUn00/S1xDX1WUn00_0_0_3000_1689_0_medium.jpg' alt='סידני נכנסה ל סגר קורונה אוסטרליה' title='סידני נכנסה ל סגר קורונה אוסטרליה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;העיר הגדולה באוסטרליה תצא בהדרגה מהסגר הנוקשה, אחרי שהרשויות זנחו את מדיניות "אפס ההדבקה" – ומסתמכות במקום על חיסוני הקורונה. גם בניו זילנד הודתה רה"מ ארדרן שאי-אפשר לחסל את הדלתא: "כמו זרועות תמנון"]</td>
      <td>https://www.ynet.co.il/news/article/hjzwlm34f</td>
      <td>Thu, 07 Oct 2021 09:40:34 +0300</td>
    </tr>
    <tr>
      <th>27</th>
      <td>מבוי סתום במגעים מול המתמחים, התאכזבו שהורוביץ לא נפגש איתם</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/ryq6c113nt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/03/ryMUp4CINt/ryMUp4CINt_1_113_1280_721_0_medium.jpg' alt='מחאת המתמחים מול הכנסת' title='מחאת המתמחים מול הכנסת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;כ-2,300 רופאים צעירים נערכים להגיש את מכתבי ההתפטרות שלהם, ובמשרד הבריאות עדיין לא הגיעו להסכמות עם מארגני המחאה. "המפתח נמצא אצל השר ואנחנו מצפים ממנו לפתור את זה", אמרו בארגון "מרשם". מתמחה באולפן ynet: "בסוף החודש יש לי 316 שעות עבודה. באיזה עולם אנחנו חיים?"]</td>
      <td>https://www.ynet.co.il/news/article/ryq6c113nt</td>
      <td>Thu, 07 Oct 2021 09:28:25 +0300</td>
    </tr>
    <tr>
      <th>28</th>
      <td>"חלם על השירות הצבאי ועלה לארץ": דניאל, חייל בודד מרוסיה, נדרס למוות</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bk3yrz2nf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/07/BJqgMbnNK/BJqgMbnNK_0_266_476_268_0_medium.jpg' alt='דניאל פוקסוב ז"ל' title='דניאל פוקסוב' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;החייל דניאל פוקסוב (24), ששירת ככלבן, נהרג שלשום מפגיעת רכב בטירת כרמל. הוא התייתם מאמו ולא היה בקשר עם אביו, שנמצא ברוסיה. נועם אביטל, מנהל קבוצת הפייסבוק "אנשים טובים למען חיילים בודדים", ביקש: "אם יוחלט לקבור את דניאל בארץ - נבקש מכל עם ישראל להגיע ולחלוק לו כבוד אחרון"]</td>
      <td>https://www.ynet.co.il/news/article/bk3yrz2nf</td>
      <td>Thu, 07 Oct 2021 09:07:03 +0300</td>
    </tr>
    <tr>
      <th>29</th>
      <td>אל תהיו תמימים. שב"כ כבר מעורב בחברה הערבית</td>
      <td>[&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hy7w7xony'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/02/S1A002V84F/S1A002V84F_82_0_768_432_0_medium.jpg' alt=' ' title=' ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הציבור הערבי יודע שהארגון חי ונושם ביישובים, כולל מעורבות במינוי אנשי חינוך ורדיפת פעילים פוליטיים. צירופו למאבק בפשיעה מתבקש אך דרוש ריסון]</td>
      <td>https://www.ynet.co.il/news/article/hy7w7xony</td>
      <td>Thu, 07 Oct 2021 08:41:39 +0300</td>
    </tr>
  </tbody>
</table>