<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>description</th>
      <th>link</th>
      <th>pubDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>המבצע לאיתור מודיעין על רון ארד שלל מידע שהגיע לישראל: "עמד ביעדים"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hydtl6oey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2019/12/11/9650472/9650472_108_5_1490_838_0_medium.jpg' alt='רון ארד' title='רון ארד' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מידע שהתקבל בישראל בנוגע לנווט השבוי הוביל את אנשי ונשות המוסד להתמקד בכמה מדינות בניסיון לאשש את המודיעין שהתקבל בישראל ולאתר מקורות נוספים. בתום מבצע שאותו הגדירו בלשכת רה"מ "מוצלח", המידע הראשוני נשלל. הפעילים לשחרור רון ארד עדיין מתרגשים: "קיבלנו תקווה"</td>
      <td>https://www.ynet.co.il/news/article/hydtl6oey</td>
      <td>Mon, 04 Oct 2021 22:33:31 +0300</td>
    </tr>
    <tr>
      <th>1</th>
      <td>הפשרה של העליון: הדיירים בשייח ג'ראח יישארו בבתים 15 שנה – או עד להסדר</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hy00gasd4f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/02/ryf9S8S1Y/ryf9S8S1Y_0_155_3000_1689_0_medium.jpg' alt='הפגנה מחוץ לבית המשפט העליון' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בית המשפט הציע כי המשפחות הערביות המתגוררות בבתים שבמחלוקת במזרח ירושלים יוכרו כדיירים מוגנים למשך 15 שנה, או עד שיושג הסדר אחר. בתקופה זו ישלמו המשפחות דמי שכירות לעמותת "נחלת שמעון" שרכשה את הקרקעות, בתמורה שתתחייב לא לפנות אותם</td>
      <td>https://www.ynet.co.il/news/article/hy00gasd4f</td>
      <td>Mon, 04 Oct 2021 21:56:38 +0300</td>
    </tr>
    <tr>
      <th>2</th>
      <td>115 נפטרו מקורונה בשבוע האחרון. מספר החולים קשה - הכי נמוך זה חודש וחצי</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1j0zpuvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/08/18/B1Zw6hT5xF/B1Zw6hT5xF_0_0_3000_1689_0_medium.jpg' alt='מחלקת קורונה בית חולים בילינסון' title='מחלקת קורונה בית חולים בילינסון' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הגל הרביעי דועך, מחלקות קורונה נסגרות, אבל המגפה עדיין מכה בישראל: בחודשיים האחרונים נפטרו מדי יום לפחות 14 חולי קורונה. 528 חולים קשה מאושפזים בבתי החולים, ירידה של יותר מ-100 תוך 4 ימים. שיעור החיוביים נמוך מ-3% זה היום השלישי ברצף</td>
      <td>https://www.ynet.co.il/news/article/s1j0zpuvk</td>
      <td>Mon, 04 Oct 2021 21:32:52 +0300</td>
    </tr>
    <tr>
      <th>3</th>
      <td>שלושה תושבי נתניה נאשמים ברצח צעיר שהגיע לביתם עם אקדח טעון</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hkwip500et'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/12/r1RFD4jfF/r1RFD4jfF_0_0_750_423_0_medium.jpg' alt='ירין מסילטי ' title='ירין מסילטי ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;צחי גלאם ובניו שליו ואלמוג נאשמים שהכו בחפצים ובאגרופים ודקרו למוות את ירין מסילטי שהגיע לביתם עם אקדח טעון. הפרקליטות: "דקרו את המנוח חמש דקירות במקומות שונים ולא הרפו ממנו". סנגורם: "הוא רצה לחסל את כל בני הבית ונתקל במעצור בנשק, זו הגנה עצמית"</td>
      <td>https://www.ynet.co.il/news/article/hkwip500et</td>
      <td>Mon, 04 Oct 2021 21:23:42 +0300</td>
    </tr>
    <tr>
      <th>4</th>
      <td>מאסר על תנאי וקנס לחנין זועבי שהורשעה בזיוף ומרמה</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1c11sh004k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2018/07/02/8632588/8632588_0_119_1599_901_0_medium.jpg' alt='חנין זועבי' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;חברת הכנסת לשעבר ו-12 נוספים, בהם בכירים לשעבר בבל"ד, הודו והורשעו בהסדר טיעון בפרשת הזיופים והדיווחים הכוזבים למבקר המדינה בבחירות הארציות והמקומיות ב-2013. על זועבי נגזרה שנת מאסר על תנאי וקנס של 75 אלף שקל</td>
      <td>https://www.ynet.co.il/news/article/s1c11sh004k</td>
      <td>Mon, 04 Oct 2021 20:45:06 +0300</td>
    </tr>
    <tr>
      <th>5</th>
      <td>חשד: ליטל יעל נקברה בעודה בחיים. אחותה ספדה: "רצינו להגן עלייך מהרוע בעולם"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sj17x3dek'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/SJeF113200Et/SJeF113200Et_0_0_850_479_0_medium.jpg' alt='קברה של ליטל יעל מלניק' title='קברה של ליטל יעל מלניק' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;יומיים אחרי שגופתה אותרה באתר בנייה, חבריה וקרוביה של בת ה-17 ליוו אותה למנוחות. "לו היית מקשיבה לנו ומאמינה לנו שאנחנו רוצות רק בטובתך", ספדה האחות הגדולה בקול שבור. "מבטיחה שלא אפסיק להילחם בשביל שהצדק ייעשה"</td>
      <td>https://www.ynet.co.il/news/article/sj17x3dek</td>
      <td>Mon, 04 Oct 2021 20:29:43 +0300</td>
    </tr>
    <tr>
      <th>6</th>
      <td>מהחודש הבא: שינויים בתנועת הרכבות בין המרכז לדרום הארץ</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bj7vvy004f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/01/05/9701588/9701588_4_0_1297_730_0_medium.jpg' alt='עבודות בתחנת ההגנה' title='עבודות בתחנת ההגנה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;אם לא יהיו עיכובים נוספים, הקו החשמלי בין השרון לאשקלון יצא לדרך בחודש הבא והנסיעה תתפצל כך שהנוסעים מבאר שבע יצטרכו להחליף רכבת ולהאריך את הדרך בכ-10 דקות. התושבים בדרום זעמו: "למה לא להודיע מראש?"</td>
      <td>https://www.ynet.co.il/news/article/bj7vvy004f</td>
      <td>Mon, 04 Oct 2021 19:29:04 +0300</td>
    </tr>
    <tr>
      <th>7</th>
      <td>חצה באדום 29 שניות אחרי שהרמזור התחלף: נהג הורשע בגרימת מותה של צעירה</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bydhtfdnk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2018/03/22/8421901/8421901_0_107_752_424_0_medium.jpg' alt='תאונה ליד נווה אמין' title='זירת התאונה בצומת נווה ימין' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מוחי אל-דין עסאפה מבת ים, שפגע ברכב שבו נסעו 5 צעירים ליד כפר סבא וגרם למותה של נופר רווח, טען לתקלה במערכת הרמזורים. השופטת קבעה שחוות דעת המהנדס מטעמו הייתה "מאולצת", הרשיעה אותו בנהיגה בשכרות ובהמתה בקלות דעת - וקבעה: "הוא הותיר רושם של אדם שלא דובר אמת"</td>
      <td>https://www.ynet.co.il/news/article/bydhtfdnk</td>
      <td>Mon, 04 Oct 2021 19:09:01 +0300</td>
    </tr>
    <tr>
      <th>8</th>
      <td>מטופלת של הפרופ' החשוד באונס: "ניצל אותי כי ידע שאני צריכה אותו"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1zauuunf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/rJnZh8004Y/rJnZh8004Y_207_180_868_489_0_medium.jpg' alt='פרופסור אריה לוין בהארכת המעצר' title='פרופ' אריה לוין בהארכת המעצר' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;פרופ' אריה לוין מבית החולים וולפסון חשוד שפגע מינית במטופלות, חלקן קטינות. אחת מהן, מיטל, סיפרה ל-ynet: "הוא צד אותי, חיבק וניסה לנשק. אמר להתפשט - ומישש אותי בכל הגוף". כעת היא רוצה שייענש: "לא עושים דבר כזה למי שעומדת למות". בית החולים: "מזועזעים מהחשדות החמורים"</td>
      <td>https://www.ynet.co.il/news/article/r1zauuunf</td>
      <td>Mon, 04 Oct 2021 18:57:31 +0300</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ההודעות הובילו לחשודים: פוענח רצח כפול של ישראלים ברשות הפלסטינית</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hya7l5ovf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/H15CpFuVK/H15CpFuVK_0_0_550_310_0_medium.jpg' alt='שאפע וסלאח אבו חוסיין שנרצחו בטולכרם' title='שאפע וסלאח אבו חוסיין ' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הפרקליטות הגישה לבית המשפט הצהרת תובע לקראת הגשת כתב האישום נגד פלסטינים וישראלים שהיו מעורבים ברצח האחים שאפע וסלאח אבו חוסיין בחודש אפריל האחרון. בחקירה עלה כי החשודים נצמדו לרכבם ופתחו לעברם באש לפני שהסתירו את רכב המילוט ושרפו אותו</td>
      <td>https://www.ynet.co.il/news/article/hya7l5ovf</td>
      <td>Mon, 04 Oct 2021 18:24:30 +0300</td>
    </tr>
    <tr>
      <th>10</th>
      <td>האו"ם: שכירי חרב רוסים ביצעו פשעי מלחמה בלוב</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bknxy9ovk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/Sy1yEqdEt/Sy1yEqdEt_0_278_2040_1148_0_medium.jpg' alt='אתר לקבורה המונית בעיר טרהונה ב לוב ' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;חוקרי האו"ם מאשימים את כל הצדדים שנלחמו בלוב בפשעי מלחמה - כולל שכירי חרב רוסים, שירו למוות באסירים. מהגרים שניסו להגיע לאירופה עברו עינויים בכלא, ילדים נשלחו להילחם וקורבנות שהוצאו להורג נקברו בקבר אחים</td>
      <td>https://www.ynet.co.il/news/article/bknxy9ovk</td>
      <td>Mon, 04 Oct 2021 18:03:39 +0300</td>
    </tr>
    <tr>
      <th>11</th>
      <td>עלייה בשיעור הזכאות לבגרות בשנת הקורונה | כל הנתונים</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/h1fntodef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/09/17/SyM1o10xHw/SyM1o10xHw_0_55_1280_720_0_medium.jpg' alt='בחינות הבגרות בהיסטוריה בבית ספר בליך' title='נבחנים בבגרות. 10.8% זכאים לתעודת בגרות בהצטיינות' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בשנת תש"ף, שמחציתה התנהלה באופן משובש לאור התפרצות הנגיף, נרשמו 73.4% זכאות לבגרות - עלייה של 3.7% ביחס לשנה שקדמה לה. שיעור הבנות הזכאיות לבגרות גבוה יותר מהבנים, המגזר הדרוזי בראש הטבלה. עלייה חדה בתקצוב התלמידים הערבים. וכמה מהזכאים למדו ב-4 ו-5 יחידות מתמטיקה?</td>
      <td>https://www.ynet.co.il/news/article/h1fntodef</td>
      <td>Mon, 04 Oct 2021 18:00:02 +0300</td>
    </tr>
    <tr>
      <th>12</th>
      <td>"אתקע לך את זה בתוך העין": שוטר איים בטייזר על נהג מונית פלסטיני | תיעוד</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/r1se8ro4f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/BJqNTBu4K/BJqNTBu4K_0_334_288_162_0_medium.jpg' alt='תיעוד של שוטר מאיים על נהג מונית עם טייזר מפני שלא עטה מסכה' title='שוטר איים עם אקדח טייזר' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;נהג מונית מוואדי ערה לא נענה לדרישת השוטר וסירב לצאת מהרכב. השוטר צעק: "אני אביא לך מכות", ושלף אקדח טייזר לעברו. הנהג: "השוטר דיבר איתי בצורה אכזרית ושחצנית, בגלל זה לא יצאתי". המשטרה: "התנהלות השוטר תיבדק"</td>
      <td>https://www.ynet.co.il/news/article/r1se8ro4f</td>
      <td>Mon, 04 Oct 2021 17:48:32 +0300</td>
    </tr>
    <tr>
      <th>13</th>
      <td>נהג התנגש בקיר מנהרה בכביש 6 ונהרג במקום</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/sywflf004f'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/HJSYmKuNK/HJSYmKuNK_101_227_523_294_0_medium.jpg' alt='זירת התאונה במנהרת אבטין' title='זירת התאונה במנהרת אבטין' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;גבר כבן 50 נלכד ברכבו בתאונה עצמית במנהרת אבטין ומת מפצעיו. המשטרה חסמה את מחלף העמקים ואת כביש 762 למשך כמה שעות וקראה לנסוע בדרכים חלופיות</td>
      <td>https://www.ynet.co.il/news/article/sywflf004f</td>
      <td>Mon, 04 Oct 2021 17:15:06 +0300</td>
    </tr>
    <tr>
      <th>14</th>
      <td>בניין ברעננה ייהרס בשל סדקים חריגים, מבנה בבית שמש פונה בשל נפילת טיח</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bjubhe00nk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/ryusG5O4K/ryusG5O4K_0_0_850_479_0_medium.jpg' alt='חשש לקריסת בניין מגורים ברעננה' title='חשש לקריסת בניין מגורים ברעננה' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ברחוב הגליל התגלו סדקים חריגים בבניין שגם נטה הצידה - והוחלט להרוס אותו. כמה שעות לפני כן פונה בניין מגורים בבית שמש בעקבות נפילת טיח, אך הדיירים הורשו לחזור</td>
      <td>https://www.ynet.co.il/news/article/bjubhe00nk</td>
      <td>Mon, 04 Oct 2021 16:42:42 +0300</td>
    </tr>
    <tr>
      <th>15</th>
      <td>בנט חשף בכנסת: המוסד יצא למבצע לאיתור מידע על רון ארד</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/skihjdoey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/Hy7RcFO4Y/Hy7RcFO4Y_371_0_539_304_0_medium.jpg' alt='נפתלי בנט במליאת הכנסת' title='נפתלי בנט במליאת הכנסת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הח"כים התכנסו לפתיחת כנס החורף ועם עלייתו של רה"מ שדיבר על "שנתיים של ניוון" יצאו חברי המפלגות החרדיות, והצעקות נשמעו מכיוון חברי הליכוד: "הדבר הכי גרוע שקרה במדינה". נתניהו תקף את בנט על שותפיו בקואליציה וטען שעבאס אסר עליו להגיע לאום אל-פחם. יו"ר רע"מ התפרץ: "אבו יאיר, זה לא נכון"</td>
      <td>https://www.ynet.co.il/news/article/skihjdoey</td>
      <td>Mon, 04 Oct 2021 16:31:31 +0300</td>
    </tr>
    <tr>
      <th>16</th>
      <td>"תיירת הרי הגעש" בלה פאלמה: "לא הפסקתי לרעוד"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rk2kzu00ek'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/rkJgquuVK/rkJgquuVK_698_888_1861_1048_0_medium.jpg' alt='התפרצות הר געש קומברה וייחה האיים הקנריים ספרד ' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ב-7 השנים האחרונות נוסעת אווה קובלקובה ברחבי העולם, בעקבות הרי געש פעילים. לפני ההתפרצות בלה פאלמה היא מיהרה להגיע לאי, ולא התאכזבה: "ההתפרצות הייתה משהו מיוחד, הגוף שלי רעד". פליטת הלבה בהר נמשכת</td>
      <td>https://www.ynet.co.il/news/article/rk2kzu00ek</td>
      <td>Mon, 04 Oct 2021 16:30:37 +0300</td>
    </tr>
    <tr>
      <th>17</th>
      <td>שגרירות איראן בקפריסין: ההאשמות של ישראל על מעורבות בניסיון החיסול - חסרות בסיס</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/s1js200unt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/06/10/10027062/10027062_134_107_1000_563_0_medium.jpg' alt='טדי שגיא' title='טדי שגיא' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;טהרן מגיבה לראשונה על הרמיזות של דובר רה"מ ושר הביטחון בני גנץ כי הניסיון להתנקש במיליארדר טדי שגיא הוא אירוע טרור, ודוחה את הטענות. גנץ אמר מוקדם יותר כי מדובר בפעולה תוקפנית נגד יעדים ישראליים שסוכלה</td>
      <td>https://www.ynet.co.il/news/article/s1js200unt</td>
      <td>Mon, 04 Oct 2021 16:10:08 +0300</td>
    </tr>
    <tr>
      <th>18</th>
      <td>תיעוד מחיפה: ילד טיפס על עץ בגובה 20 מטר - וחולץ עם מנוף</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/ryvhn0000vt'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/SyXDgN00OVt/SyXDgN00OVt_121_4_460_259_0_medium.jpg' alt='תיעוד חילוץ ילד שטיפס על עץ בחיפה' title='הילד מפונה על גבי מנוף' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;תושבים בשדרות מוריה דיווחו לכוחות ההצלה על בן 10 שנתקע על צמרת העץ ולא מסוגל לרדת. כבאים שהוזעקו למקום טיפסו בעקבותיו והחזירו אותו לקרקע. מפקד החילוץ: "ראיתי נקודה צהובה והבנתי שזאת החולצה, הוא לא בכה אבל צעק שיורידו אותו"</td>
      <td>https://www.ynet.co.il/news/article/ryvhn0000vt</td>
      <td>Mon, 04 Oct 2021 15:49:28 +0300</td>
    </tr>
    <tr>
      <th>19</th>
      <td>ליברמן: החרדים ייכנסו? נצא מהממשלה. לפיד: שרים מתנהגים כאילו אין בעיות</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hkfp8w004t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/r1lHioddEt/r1lHioddEt_289_67_861_485_0_medium.jpg' alt='גדעון סער ונפתלי בנט' title='גדעון סער ונפתלי בנט בכנסת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;בכירי הקואליציה מזהירים את שותפיהם עם פתיחת כנס החורף - אך רה"מ השיב לשאלת ynet אם התקציב יעבור ואמר: "ברור, שיהיה לנו בהצלחה". יו"ר ישראל ביתנו: "אם ש"ס ויהדות התורה יצטרפו לקואליציה - לא נהיה שם". לפיד נזף בחבריו לקואליציה: "ח"כים ושרים מתנהגים כאילו הבעיות מאחורינו". גנץ על הגבלת כהונת רה"מ: "לא עניין פרסונלי, אלא פונקציונלי"</td>
      <td>https://www.ynet.co.il/news/article/hkfp8w004t</td>
      <td>Mon, 04 Oct 2021 14:48:58 +0300</td>
    </tr>
    <tr>
      <th>20</th>
      <td>לעבור את החורף בשלום</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hy0ysi004k'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/02/B1F00490bY/B1F00490bY_0_0_3000_1689_0_medium.jpg' alt='יאיר לפיד ונפתלי בנט במליאת הכנסת' title='יאיר לפיד ונפתלי בנט במליאת הכנסת' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;דריכות בקואליציה עם פתיחת כנס החורף, שצפוי להעצים עוד יותר את העימותים ולייצר מסלולי התנגשות פוליטיים. האתגרים שבדרך: התקציב, חוק האזרחות, חוק הגיוס ורפורמת הכשרות. המסר: להרגיע, עד כמה שניתן</td>
      <td>https://www.ynet.co.il/news/article/hy0ysi004k</td>
      <td>Mon, 04 Oct 2021 14:30:15 +0300</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ציקלון במזרח התיכון: 12 נהרגו באיראן ועומאן</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bkvtjldvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/S1QC5U00EY/S1QC5U00EY_1_206_3000_1689_0_medium.jpg' alt='ה סופה שאהין היכתה ב עומאן' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הסופה "שאהין", שהגיעה לאזור כציקלון, גבתה את חייהם של 12 איש לפחות. "שאהין" נחלשה לסופה טרופית כשהיכתה בחופי עומאן. היא גרמה נזק גדול, והביאה רוחות של 150 קמ"ש וגלים של 10 מטר. רחובות בבירת עומאן הוצפו</td>
      <td>https://www.ynet.co.il/news/article/bkvtjldvk</td>
      <td>Mon, 04 Oct 2021 14:20:33 +0300</td>
    </tr>
    <tr>
      <th>22</th>
      <td>הורשע בניסיון רצח גבר מירושלים שדקר את אשתו בשני סכינים כי בחרה להתגרש</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/ryzqidd4y'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/02/21/Bk115JR1M00/Bk115JR1M00_729_119_903_509_0_medium.jpg' alt='הנאשם בנסיון לרצח אשתו' title='הנאשם בניסיון רצח אשתו' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;ג', בת 65, ביקשה להתגרש מבעלה אחרי 22 שנות נישואים. הוא סירב לקבל זאת, הפתיע אותה ליד בית אמה, ודקר אותה עד ששכן הגיע והציל אותה. ביהמ"ש הרשיע אותו בניסיון רצח. "יידע הציבור - דם נשים אינו הפקר", אמר עורך דינה</td>
      <td>https://www.ynet.co.il/news/article/ryzqidd4y</td>
      <td>Mon, 04 Oct 2021 14:13:43 +0300</td>
    </tr>
    <tr>
      <th>23</th>
      <td>מטופלות התלוננו על עבירות מין: פורסם שם הרופא הבכיר</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rkq3j8u4t'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/rJnZh8004Y/rJnZh8004Y_212_181_858_483_0_medium.jpg' alt='פרופסור אריה לוין בהארכת המעצר' title='פרופסור אריה לוין בהארכת המעצר' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;הוארך מעצרו של פרופ' אריה לוין, מנהל היחידה לגסטרואנטרולוגיה ותזונה בילדים בבית החולים וולפסון, שחשוד בבעילת קטינה מתחת לגיל 14, בעילה שלא בהסכמה ומעשה מגונה. נציג המשטרה אמר כי הפרשה נחקרת כבר חודשיים וחצי, ולדבריו התלונה האחרונה היא על מעשים שאירעו ב-2014</td>
      <td>https://www.ynet.co.il/news/article/rkq3j8u4t</td>
      <td>Mon, 04 Oct 2021 14:09:29 +0300</td>
    </tr>
    <tr>
      <th>24</th>
      <td>דובר רה"מ: "האירוע בקפריסין - טרור איראני. טדי שגיא לא היה היעד"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/bk0adld4y'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/06/10/10027062/10027062_0_0_1300_732_0_medium.jpg' alt='טדי שגיא' title='טדי שגיא' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;דוברו של בנט אמר כי "לפי גורמי ביטחון, האירוע בקפריסין כוון על ידי איראן נגד אנשי עסקים ישראלים המתגוררים בקפריסין". הוא ציין כי המיליארדר הישראלי טדי שגיא לא היה יעד לניסיון החיסול: "אין מדובר באירוע פלילי"</td>
      <td>https://www.ynet.co.il/news/article/bk0adld4y</td>
      <td>Mon, 04 Oct 2021 13:43:07 +0300</td>
    </tr>
    <tr>
      <th>25</th>
      <td>כוכבת "האח הגדול" שהתלוננה נגד שי אביטל: "המלחמה האמיתית מתחילה"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rj5yxs00nf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/r1lgCr004F/r1lgCr004F_0_0_850_479_0_medium.jpg' alt='נועה יונני שי אביטל' title='נועה יונני ושי אביטל' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;נועה יונני, שהשתתפה גם ב"אהבה חדשה", התלוננה כבר ב-2016 נגד סוכן הדוגמניות, שנגדו הוגשו עד כה 26 תלונות על עבירות מין. יממה אחרי שנודע כי המשטרה דורשת ממנו לשוב לארץ לחקירה, אמרה יונני לאולפן ynet: "היה חשש גדול שאולי נחשפנו סתם. לשמוע שהמשטרה דורשת שייחקר מחזק אותנו"</td>
      <td>https://www.ynet.co.il/news/article/rj5yxs00nf</td>
      <td>Mon, 04 Oct 2021 13:25:58 +0300</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ראש אגף התנועה במשטרה: "לא קיבלתי הוראה לוויסות המתפללים במירון"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/ry6s3buey'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/09/23/HJeVYx8qmF/HJeVYx8qmF_0_22_1280_721_0_medium.jpg' alt='פינוי הנפגעים באסון הר מירון' title='זירת האסון במירון באפריל' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;"הקטנת הראש" מצד קצינים שהיו אמונים על שמירת הסדר וביטחון המשתתפים ממשיכה להיחשף בוועדת החקירה הממלכתית לאסון מירון. ניצב אלון אריה סיפר בעדותו כי לא התקבלה הוראה על ויסות תנועת המתפללים בהר - ו"ננזף" על ידי חבר ועדה: "הוויסות הוא כלי מרכזי בהקטנת סיכון לאסון"</td>
      <td>https://www.ynet.co.il/news/article/ry6s3buey</td>
      <td>Mon, 04 Oct 2021 13:11:30 +0300</td>
    </tr>
    <tr>
      <th>27</th>
      <td>מלך ירדן על חשיפת בתי הפאר בארה"ב ובריטניה: "זה לא היה סוד"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rkpp2s00vf'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/ByxE0zLOVY/ByxE0zLOVY_0_0_850_479_0_medium.jpg' alt='עבדאללה מלך ירדן' title='עבדאללה מלך ירדן' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;במסמכי פנדורה נחשף כי למלך עבדאללה 14 נכסים בארה"ב ובבריטניה שעליהם שולמו 106 מיליון דולר. "זה לא מכספי ציבור ולא דבר בלתי שגרתי", אמרו בארמון המלוכה, וטענו כי הדבר לא נחשף משיקולי פרטיות וביטחון. בחשיפה נטען גם כי בבעלות המלך ומקורביו לפחות 36 חברות שנרשמו במקלטי מס</td>
      <td>https://www.ynet.co.il/news/article/rkpp2s00vf</td>
      <td>Mon, 04 Oct 2021 13:08:28 +0300</td>
    </tr>
    <tr>
      <th>28</th>
      <td>רוסיה שיגרה טיל שיוט על-קולי מצוללת</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/hyoqcrdvk'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2021/10/04/SylNnBONY/SylNnBONY_0_0_640_361_0_medium.jpg' alt='רוסיה שיגרה טיל שיוט על קולי מ צוללת' title='' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;מוסקבה הודיעה על שיגור מוצלח של טיל השיוט העל-קולי זירקון, שלראשונה שוגר מצוללת: "הניסוי בירי מהצוללת הגרעינית הוכתר כהצלחה". הנשיא פוטין אמר שהטיל הוא חלק מסדרת כלי הנשק החדשים ו"הבלתי מנוצחים" של רוסיה</td>
      <td>https://www.ynet.co.il/news/article/hyoqcrdvk</td>
      <td>Mon, 04 Oct 2021 13:00:10 +0300</td>
    </tr>
    <tr>
      <th>29</th>
      <td>פרויקטור הקורונה בחברה הערבית: "התחלואה בירידה, כמו בכל המדינה"</td>
      <td>&lt;div&gt;&lt;a href='https://www.ynet.co.il/news/article/rkjy2eoef'&gt;&lt;img src='https://ynet-images1.yit.co.il/picserver5/crop_images/2020/11/16/r1KBUDgqv/r1KBUDgqv_178_209_591_333_0_medium.jpg' alt='איימן סייף' title='איימן סייף' border='0' width='100' height='56'&gt;&lt;/a&gt;&lt;/div&gt;איימן סייף אמר בריאיון לאולפן ynet כי לפני שבועיים היו 55 רשויות ערביות אדומות, והיום 16. הסיבה, לדבריו, היא "שעשינו המון בדיקות בספטמבר. גם המאמצים בנושא החיסונים עובדים"</td>
      <td>https://www.ynet.co.il/news/article/rkjy2eoef</td>
      <td>Mon, 04 Oct 2021 12:26:41 +0300</td>
    </tr>
  </tbody>
</table>